<main class="main">
  <div class="inner">
    <div class="cd__wrapper">
      <p class="cd__hedding">
        <%= @cd.title%>
      </p>
      <%= link_to "by #{@cd.user.nickname}", 
      user_path(@cd.user),  # @cdに紐づくユーザーの詳細ページに遷移
      class: :cd__user %>
        <% if user_signed_in? && current_user.id == @cd.user_id %>
        <div class="cd__manage">
          <%= link_to "編集する", edit_cd_path(@cd), class: :cd__btn %>
          <%= link_to "削除する", cd_path(@cd), data: { turbo_method: :delete }, class: :cd__btn %>
        </div>
        <% end %>
      <div class="cd__image">
        <%= image_tag @cd.image if @cd.image.attached? %>
      </div>
      <div class="cd__body">
        <div class="cd__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= "#{@cd.catch_copy}" %>
          </p>
        </div>
        <div class="cd__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= "#{@cd.concept}" %>
          </p>
        </div>
      </div>
      <div class="cd__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@cd, Comment.new] do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <ul class="comments_lists">
            <li class="comments_list">
            <% @comments.each do |comment| %>
              <%= comment.content %>
              <%= link_to comment.user.name, user_path(comment.user), class: :comment_user %><br>
            <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</main>